* {
  /* -webkit-box-sizing: border-box; */
     /* -moz-box-sizing: border-box; */
          box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: hsl(34, 80%, 74%);
  color: hsl(30, 9%, 15%);
}

h3 {
  background-color: hsl(43, 72%, 82%);
  padding: 8px;
  border-radius: 10px
}

p {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

h3,
ul,
ol {
  text-align: left;
}

img {
  height: auto;
  max-width: 400px;
  border: 2px solid hsl(0, 0%, 20%);
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.lists {
  width: 600px;
  margin: 0 auto;
}

.description {
  font-size: 18px;
  width: 500px;
  margin: 1em auto;
  border-style: dashed;
  border-radius: 10px;
  padding: 1em;
  width: 500px;
  background-color: hsl(43, 72%, 82%);
}

.button {
  display: inline-block;
  /* ^ Sets the display type of the element to be an inline-block.
    This means that the element will be treated like an inline element,
    but can have width and height properties,
    and can be aligned vertically and horizontally. */

  padding: 10px 20px;
  /* Space between the element's content and its border */
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  /* Removes the underline from the hyperlink */
  border-radius: 5px;
  /* Rounds the corners of the button */
  margin: 0.5em;
}

.button:link,
.button:visited {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.button:hover {
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 100%);
}